@import "variables";
@import "fonts";

html {
  font-size: 10px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

h2.app-name{
  text-align: center;
  font-weight: 300;
  color: #888;
}
